.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.selected-product {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ccc;
}

.carousel-container {
  position: relative;
  margin-bottom: 20px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #333;
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

.carousel-slide {
  position: relative;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.carousel-arrow:hover {
  background-color: #eee;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background-color: #f1f1f1;
  padding: 10px;
}

.product-list li {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.product-list li img {
  width: 59px;
  height: 59px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-list li h4 {
  margin-bottom: 5px;
}

/* Ekstra: Ürünlerin yan yana gitmesi için 2'li gruplar halinde düzenleme */
.product-list li:nth-child(even) {
  clear: both;
}
