.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-name {
  font-weight: 500;
  font-size: 18px;
}

.product-badge {
  background-color: rgb(245, 194, 84);
  width: fit-content;
  font-weight: bold;
}

.left-side-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 120px;
}

.product-img {
  height: 189px;
  width: 139px;
}

.product-rating {
  font-weight: 500;
}

.product-rating span {
  font-weight: normal;
  color: orangered;
}

.capacity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  border-top: 1px solid #dad9d9;
  margin-top: 2.5rem;
  border-radius: 7px;
  width: 40%;
}
.capacity .capacity-heading {
  font-size: 12px;
  font-weight: bold;
}

.button {
  display: flex;
  flex-direction: row;
}

button {
  padding: 10px;
  border: none;
  background: white;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

button:focus {
  border: 1px solid #000;
  border-radius: 7px;
}

.dummy-text {
  font-size: 12px;
  font-weight: bold;
}

.product-price {
  font-weight: bold;
}

.product-price span {
  font-weight: normal;
}

.shipping {
  color: rgb(16, 196, 16);
}

.update {
  font-size: 12px;
  color: grey;
}
